CompileFlags:
  Compiler: /usr/local/cuda-13.0/bin/nvcc
  Add:
    - "-I/usr/local/cuda-13.0/include"
    - "-I/usr/local/cuda-13.0/include/cccl"
  Remove:
    - "-rdc=true"
    - "-Xcompiler=*"
    - "-arch=*"
    - "-forward-unknown-to-host-compiler"
Documentation:
  CommentFormat: Doxygen
