CompileFlags:
  Add:
    - -D__CLANGD__
  Remove:
    - "-rdc=true"
    - "-Xcompiler=*"
    - "-arch=*"
    - "-forward-unknown-to-host-compiler"
    - "--expt-relaxed-constexpr"
    - "--extended-lambda"
Documentation:
  CommentFormat: Doxygen
