.cache
build
compile_commands.json

# Testing
Testing
misc/physics_scene

# GUI Demo data
.polyscope.ini
imgui.ini

# profiling data
flamegraph.html
gmon.out
out.perf
perf.data
perf.data.old

# macOS
.DS_Store
._*

# Visual Studio
.vs
vcpkg_installed

# Clion
.idea