.cache
build
compile_commands.json
.aider*
smart*
default*
.polyscope.ini
imgui.ini
flamegraph.html
gmon.out
out.perf
perf.data
perf.data.old
ClothSolver::solve() [clone ._omp_fn.0].annotation
ClothSolver::solve() [clone ._omp_fn.0].annotation
ClothSolver::solve() [clone ._omp_fn.0].annotation
.idea
Testing
cmake-build-debug
